*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Google Font */
/* Raleway */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Inter */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wght" 400;
}

/* Agdasima */
.agdasima-normal {
  font-family: "Agdasima", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared Style Css */
.btn-primary{
    background-color: #4E47FF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "raleway", sans-serif;
}
/* Header */
.header{
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
}
nav h3{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 800;
    font-family: "inter", sans-serif;
}
.banner{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner h1{
    font-size: 65px;
    font-weight: 800;
    color: #252432;
    font-family: "raleway", sans-serif;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* Main division */
main{
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
}
/* Action Section */
.action-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 100px 0;
}
.action-content{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.action-content h2{
    font-size: 42px;
    font-weight: 800;
    color: #252432;
    font-family: "raleway", sans-serif;
}
.action-content p{
    font-size: 16px;
    color: #00000050;
    font-family: "raleway", sans-serif;
}
.action-img img{
    border-radius: 48px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    -ms-border-radius: 48px;
    -o-border-radius: 48px;
}
/* Productive Users Style */
.productive-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background: #4d47ff33;
    padding: 50px 80px;
    margin: 100px 0;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}
.active-users{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}
.productive-user-title{
    font-size: 38px;
    font-weight: 800;
    color: #252432;
    font-family: "raleway", sans-serif;
}
.users-activity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.users-activity span{
    font-size: 80px;
    font-weight: 800;
    color: #4E47FF;
    font-family: "inter", sans-serif;
}
.users-activity p{
    font-size: 20px;
    color: #00000050;
    font-family: "inter", sans-serif;
}

